{
  "presets": [
    ["@babel/env", { "modules": false, "loose": true }],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/proposal-object-rest-spread", { "loose": true }],
    ["@babel/proposal-class-properties", { "loose": true }]
  ],
  "env": {
    "cjs": {
      "plugins": [
        "@babel/transform-runtime",
        "@babel/transform-modules-commonjs"
      ]
    },
    "esm": {
      "plugins": [
        "@babel/transform-runtime"
      ]
    }
  }
}
